In [ ]:
import os
os.environ['PROJ_LIB'] = r'..\files\share'
print('PROJ_LIB')

In [2]:
import plotly as py
import plotly.offline as py_off
from plotly.graph_objs import *
py.__version__

'2.1.0'

In [ ]:
import xarray as xr
import numpy as np
from scipy.io import netcdf

In [2]:
import plotly
plotly.tools.set_credentials_file(username='', api_key='')

In [3]:
mapbox_access_token = ''

In [4]:
from netCDF4 import Dataset

In [ ]:
import cdsapi

c = cdsapi.Client()

c.retrieve(
    'seasonal-postprocessed-single-levels',
    {
        'originating_centre':'ecmwf',
        'system':'5',
        'variable':'sea_surface_temperature_anomaly',
        'product_type':'ensemble_mean',
        'year':'2019',
        'month':'01',
        'leadtime_month':'3',
        'format':'netcdf'
    },
    'sst.nc')

2019-02-02 23:10:25,369 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/seasonal-postprocessed-single-levels
2019-02-02 23:10:26,624 INFO Request is queued

In [5]:
f_path = '/Users/mycomputer/Downloads/sst.nc'

In [6]:
f = Dataset(f_path)

In [7]:
f

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_64BIT data model, file format NETCDF3):
    Conventions: CF-1.6
    history: 2019-02-02 12:22:36 GMT by grib_to_netcdf-2.10.0: /opt/ecmwf/eccodes/bin/grib_to_netcdf -o /cache/data4/adaptor.mars.external-1549110156.1807294-14124-11-6273b51c-1f33-4c2b-9eea-631aa59eafb2.nc /cache/tmp/6273b51c-1f33-4c2b-9eea-631aa59eafb2-adaptor.mars.external-1549110156.181047-14124-4-tmp.grib
    dimensions(sizes): longitude(360), latitude(181), time(1)
    variables(dimensions): float32 longitude(longitude), float32 latitude(latitude), int32 time(time), int16 ssta(time,latitude,longitude)
    groups:

In [8]:
f.variables.keys()

odict_keys(['longitude', 'latitude', 'time', 'ssta'])

In [9]:
ds2 = xr.open_dataset(xr.backends.NetCDF4DataStore(f))

In [10]:
df2 = ds2.to_dataframe()

In [11]:
df2.index[0]

(90.0, 0.0, Timestamp('2019-03-01 00:00:00'))

In [12]:
df_sub = df2.iloc[df2.index.get_level_values('time') == '2019-03-01']

In [13]:
df_sub.tail()

                               ssta
latitude longitude time
-90.0    355.0     2019-03-01   NaN
         356.0     2019-03-01   NaN
         357.0     2019-03-01   NaN
         358.0     2019-03-01   NaN
         359.0     2019-03-01   NaN

In [14]:
len(df_sub.index.get_level_values('longitude')), len(df_sub['ssta'])

(65160, 65160)

In [15]:
step = 1.0
to_bin = lambda x: np.floor(x / step) * step
df_sub["latbin"] = df_sub.index.get_level_values('latitude').map(to_bin)
df_sub["lonbin"] = df_sub.index.get_level_values('longitude').map(to_bin)
groups = df_sub.groupby(("latbin", "lonbin"))

/anaconda/envs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning:

Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.

In [16]:
df_flat = df_sub.drop_duplicates(subset=['latbin', 'lonbin'])

In [17]:
df_flat.head()

                                   ssta  latbin  lonbin
latitude longitude time
90.0     0.0       2019-03-01 -0.000007    90.0     0.0
         1.0       2019-03-01 -0.000007    90.0     1.0
         2.0       2019-03-01 -0.000007    90.0     2.0
         3.0       2019-03-01 -0.000007    90.0     3.0
         4.0       2019-03-01 -0.000007    90.0     4.0

In [18]:
len(df_flat['lonbin'])

65160

In [19]:
df_no_nan = df_flat[np.isfinite(df_flat['ssta'])]

In [20]:
len(df_no_nan)

43062

In [21]:
df_no_nan.tail()

                                   ssta  latbin  lonbin
latitude longitude time
-78.0    321.0     2019-03-01 -0.320773   -78.0   321.0
         322.0     2019-03-01 -0.320773   -78.0   322.0
         323.0     2019-03-01 -0.333682   -78.0   323.0
         324.0     2019-03-01 -0.333682   -78.0   324.0
         325.0     2019-03-01 -0.333682   -78.0   325.0

In [22]:
#snow = df_no_nan['sfara'].values*2419200*39*10

In [23]:
df_no_nan = df_no_nan[(df_no_nan.latbin < 90.0) & (df_no_nan.latbin > -90.0)]

In [24]:
 colorscale= [[0.0, '#171c42'], [0.07692307692307693, '#263583'], [0.15384615384615385, '#1a58af'], [0.23076923076923078, '#1a7ebd'], [0.3076923076923077, '#619fbc'], [0.38461538461538464, '#9ebdc8'], [0.46153846153846156, '#d2d8dc'], [0.5384615384615384, '#e6d2cf'], [0.6153846153846154, '#daa998'], [0.6923076923076923, '#cc7b60'], [0.7692307692307693, '#b94d36'], [0.8461538461538461, '#9d2127'], [0.9230769230769231, '#6e0e24'], [1.0, '#3c0911']]

In [ ]:
#colorscale = [[0, 'rgb(54, 50, 153)'], [0.35, 'rgb(17, 123, 215)'],
#                [0.5, 'rgb(37, 180, 167)'], [0.6, 'rgb(134, 191, 118)'],
#                [0.7, 'rgb(249, 210, 41)'], [1.0, 'rgb(244, 236, 21)']]

In [25]:
data = []

data.append(
    Scattermapbox(
        lon=df_no_nan['lonbin'].values,
        lat=df_no_nan['latbin'].values,
        mode='markers',
        text=df_no_nan['ssta'].values,
        marker=Marker(
            cmax=2.5,
            cmin=-2.5,
            color=df_no_nan['ssta'].values,
            colorscale=colorscale
        ),
    )
)
        
layout = Layout(
    margin=dict(t=0,b=0,r=0,l=0),
    autosize=True,
    hovermode='closest',
    showlegend=False,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=0,
        style='dark'
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='ecmwf_sst.html')

/anaconda/envs/py3/lib/python3.6/site-packages/plotly/graph_objs/_deprecations.py:426: DeprecationWarning:

plotly.graph_objs.Marker is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.scatter.Marker
  - plotly.graph_objs.histogram.selected.Marker
  - etc.


/anaconda/envs/py3/lib/python3.6/site-packages/plotly/plotly/plotly.py:230: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

In [ ]:
data = []

data.append(
    Scattermapbox(
        lon=df_no_nan['lonbin'].values,
        lat=df_no_nan['latbin'].values,
        mode='markers',
        text=df_no_nan['anom'].values,
        marker=Marker(
            cmax=3,
            cmin=-3,
            color=df_no_nan['anom'].values,
            colorscale='RdBu', showscale=True
        ),
    )
)
        
layout = Layout(
    margin=dict(t=0,b=0,r=0,l=0),
    autosize=True,
    #title='Sea Surface Temperature Anomaly (Â°C)',
    hovermode='closest',
    showlegend=False,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=0,
        style='light'
    )
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='ssta.html')